td {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}
.anna {
    text-decoration: line-through;
}

.anna2 {
    background-color: aqua;
}

.anna3 {
	display: none;
}

.color1 {
	background: red;
}
.color2 {
	background: green;
}
.color3 {
	background: yellow;
}